Right Panel for credit cards positions
<table width="100%" border="1">
    <tr>
        <td>Card Limit</td>
        <td>{{ position.data.cardLimit }}</td>
    </tr>
    <tr>
        <td>Card Utilization</td>
        <td>{{ position.utilization }}%)</td>
    </tr>
</table>