Right Panel for credit card
<table width="100%" border="1">
    <tr>
        <td>Debt change</td>
        <td>{{ dash.total.value.change.amount }}</td>
    </tr>
    <tr>
        <td>Number of credit cards</td>
        <td>{{ dash.position_total.count_total }}</td>
    </tr>
</table>