Right Panel for cash
<table width="100%" border="1">
    <tr>
        <td colspan="2">Return: ${{ dash.total.value.change.amount }}, {{ dash.total.value.change.percent }}%</td>
    </tr>
    <tr>
        <td>Number of accounts</td>
        <td>{{ dash.position_total.count_total }}</td>
    </tr>
</table>